<!DOCTYPE html>
<html>
<head>
  <title>Seorel</title>
  <%= stylesheet_link_tag    "seorel/application", :media => "all" %>
  <%= javascript_include_tag "seorel/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
